@model IEnumerable<MVC.Newsreel.Data.Article>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h1>Статті користувача</h1>
</div>
<div>
@foreach (var item in Model) {
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">@Html.DisplayFor(modelItem => item.Category.Name)</strong>
        <a asp-controller="Article" asp-action="Details" asp-route-id="@item.ArticleId">
            <h3 class="mb-0">@Html.DisplayFor(modelItem => item.Title)</h3></a>
        <div class="text-body-caption">@Html.DisplayFor(modelItem => item.PubDate) | @Html.DisplayFor(modelItem => item.Author.Name)</div>
        <p class="card-text mb-auto">@item.Text.Substring(0, 400)...</p>
    </div>
    <div class="col-auto d-none d-lg-block">
        <img class="bg-img" src="@Html.DisplayFor(modelItem => item.Image)" width="400" height="300">
        <!--<svg class="bd-placeholder-img" xmlns="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Patron_with_Golden_Paw_award.jpg/280px-Patron_with_Golden_Paw_award.jpg" role="img" height="100%">
        <rect width="100%" height="100%" fill="#55595c"></rect></svg>-->
    </div>
</div>
}
</div>
</body>
</html>
