@model MVC.Newsreel.Data.ArticleDraft

<!DOCTYPE html>

<html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.DisplayFor(model => model.Title)</title>
</head>
<body>
<div class="center-align">
<div align="center">
    <img src="@Html.DisplayFor(model => model.Image)" width="840" height="480" class="illustrate" alt="Нема картинки :(">
</div>
<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <div class="text-body-caption">@Html.DisplayFor(model => model.Author.Name) | <strong>@Html.DisplayFor(model => model.SuggestedCategory.Name)</strong></div>
    <div id="article-txt">
        @Model.Text
    </div>
    <script>
        function formatText() {
            var textareaValue = document.getElementById("article-txt").innerHTML;
            var paragraphs = textareaValue.split("\n");
            var result = "";
            for (var i = 0; i < paragraphs.length; i++) {
                result += "<p class='article-text'>" + paragraphs[i] + "</p>";
            }
            document.getElementById("article-txt").innerHTML = result;
        }
        window.onload = formatText;
    </script>
</div>
@{
@if (User.IsInRole("admin") || User.Identity.Name == @Model?.Author.UserName)
{
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleDraftId">Змінити</a> |
    <a asp-action="Delete" asp-route-id="@Model?.ArticleDraftId">Видалити</a>
</div>
}
}
<div>
    <a asp-action="Index">Назад</a>
</div>
</div>
</body>
</html>
