@model MVC.Newsreel.Data.ArticleDraft

<!DOCTYPE html>

<html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.DisplayFor(model => model.Title)</title>
</head>
<body>
<div align="center">
    <img src="@Html.DisplayFor(model => model.Image)" width="840" height="480" class="illustrate" alt="Нема картинки :(">
</div>
</div>
<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <div>@Html.DisplayFor(model => model.Author.Name) | <strong>@Html.DisplayFor(model => model.SuggestedCategory.Name)</strong></div>
    <p>@Html.DisplayFor(model => model.Text)</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleDraftId">Змінити</a> |
    <a asp-action="Index">Назад</a>
</div>
</body>
</html>
