@model IEnumerable<MVC.Newsreel.Data.Dislike>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article.ArticleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DislikeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DislikeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DislikeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
