@model IEnumerable<MVC.Newsreel.Data.Comment>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Коментарі</title>
</head>
<body>
<p>
    <a asp-action="Create">Додати новий коментар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Текст
            </th>
            <th>
                Дата публікації
            </th>
            <th>
                Стаття
            </th>
            <th>
                Автор
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="border-table">
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
