@model MVC.Newsreel.Data.Article

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.DisplayFor(model => model.Title)</title>
    <script>
        function clearContent()
        {
            document.getElementById("output").value='';
        }
    </script>
</head>
<body>
<div class="center-align">
    <div align="center">
    <img src="@Html.DisplayFor(model => model.Image)" width="840" height="480" alt="Нема картинки :(" >
    </div>
<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <div class="text-body-caption">@Html.DisplayFor(model => model.PubDate) | @Html.DisplayFor(model => model.Author.Name) | <strong>@Html.DisplayFor(model => model.Category.Name)</strong></div>
    <p class="article-text">@Html.DisplayFor(model => model.Text)</p>
    <div class="like-container">
        @Html.DisplayFor(model=>model.Likes)<button class="like-button">👍</button>
        @Html.DisplayFor(model=>model.Dislikes)<button class="like-button">👎</button>
    </div>
    <p>Експортувати в <a asp-action="ExportDocx" asp-route-id="@Context.Request.RouteValues["id"]">DOCX</a> | <a>PDF</a></p>
</div>
<h3>Коментарі</h3>
<h5>Додати коментар</h5>
<div class="row">
<div class="col-md-4">
<form method="post" asp-controller="Comment" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Текст</label>
        <textarea name="Text" id="output" class="form-control commentinput"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Автор</label>
        <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
    </div>
    <input asp-for="ArticleId" value="@Model.ArticleId" readonly hidden/>
    <span asp-validation-for="ArticleId" class="text-danger"></span>
    <div class="form-group">
        <input type="submit" value="Додати" class="btn btn-primary" />
    </div>
</form>
</div>
</div>
@foreach (var item in Model.Comments)
{
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">@Html.DisplayFor(modelItem => item.Author.Name)</strong>
        <div class="text-body-caption">@Html.DisplayFor(modelItem => item.PubDate)</div>
        <p class="card-text mb-auto">@Html.DisplayFor(modelItem => item.Text)</p>
        <div class="like-container">
            @Html.DisplayFor(modelItem=>item.Likes)<button class="like-button">👍</button>
            @Html.DisplayFor(modelItem=>item.Dislikes)<button class="like-button">👎</button>
        </div>
    </div>
</div>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleId">Змінити</a> |
    <a asp-action="Delete" asp-route-id="@Model?.ArticleId">Видалити</a> |
    <a asp-action="Index">Назад</a>
</div>
</div>
</body>
</html>
