@model IEnumerable<MVC.Newsreel.Data.ArticleRequest>
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Керування статтями</title>
</head>
<body>
<p>
    <a asp-action="Create">Додати новий запит</a>
</p>
<div class="artreq-container">
@foreach (var item in Model) {
<div class="artreq-cards">
    <div class="artreq-card-body">
        <strong>Статус: </strong>@Html.DisplayFor(modelItem => item.Status)
        <a asp-controller="ArticleDraft" asp-action="Details" asp-route-id="@item.ArticleDraftId">
            <h5 class="mb-0">@Html.DisplayFor(modelItem => item.ArticleDraft.Title)</h5></a>
        <label>@Html.DisplayFor(modelItem => item.Author.Name)</label>
        @{
        if (User.IsInRole("admin"))
        {
            <div>
                <a asp-action="Edit" asp-route-id="@item.ArticleRequestId">Змінити</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleRequestId">Видаляти</a>
            </div>
        }
        }
    </div>
</div>
}
</div>
</body>
</html>
